node_modules
npm-debug.log
dist
coverage
.env
.env.*
!.env.example
uploads/*
!uploads/.gitkeep
*.md
.git
.github
tests
jest.config.js
.eslintrc*
.prettierrc*
docker-compose.yml
*.postman_collection.json